* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.bar{
  width: 100px;
  height: 5px;
  background-color: black;
}




.sunglass{
  width: 140px;
  height: 145px;
  background-color: dimgray;
  border: 4px solid currentColor;
  border-radius: 47% 53% 52% 48% / 44% 45% 55% 56% ;
}